NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_ADMIN_EMAILS=
NEXT_PUBLIC_SUPPORT_EMAIL=support@cvflow.com
NEXT_PUBLIC_SUPPORT_TEAM_NAME=CVFlow Support
NEXT_PUBLIC_SUPPORT_ROLE=Chăm sóc khách hàng
NEXT_PUBLIC_SUPPORT_HOURS=Thứ 2 - Thứ 7, 08:00 - 22:00 (GMT+7)
NEXT_PUBLIC_SUPPORT_PHONE=
NEXT_PUBLIC_LIVE_CHAT_PROVIDER=
NEXT_PUBLIC_CRISP_WEBSITE_ID=
NEXT_PUBLIC_TAWK_SRC=

GEMINI_API_KEY=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
